logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.sbtserver
/RUNNING_PID
/.settings
/.target
/bin
/.cache
/cdb.cmd
/out.txt
/README
.DS_Store
project/.sbtserver.lock
project/.sbtserver
dmpster-db.7z
*.db
