@(buckets: List[(Bucket, Seq[Tag])], bucketForm: Form[(String, String)]) 
@import helper._ 
@import helper.twitterBootstrap._ 
@main("View DMPs") {

<div class="row">
	<div class="span8">
		<ul>
			@buckets.groupBy(_._1.name).map { category =>
			<li>@category._1</li>
			<ul>
				@category._2.map { bucket =>
				<li><a href="buckets/@bucket._1.id/details">@bucket._1.filename</a>
				@for(t <- bucket._2) {
					<span class="label label-info">@t.name</span>
				}
				@if(bucket._1.isNew) {<span class="label label-inverse">new</span> }
				<form action="buckets/@bucket._1.id/addTag/asdf" method="post"><input type="submit"></input></form>
				</li>
				}
			</ul> 
			}
		</ul>
	</div>
</div>
}
