@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

</head>
<body>

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="@routes.Application.index()">dmpster</a>
				<form class="navbar-form pull-right">
					<div id="holder">Drop DMPs here to upload.</div>
					<p id="upload" class="hidden">
						<label>Drag & drop not supported, but you can still upload
							via this input field:<br>
						<input type="file">
						</label>
					</p>
					<p id="filereader">File API & FileReader API not supported</p>
					<p id="formdata">XHR2's FormData is not supported</p>
					<p id="progress">XHR2's upload progress isn't supported</p>
					<div>
						<progress id="uploadprogress" min="0" max="100" value="0" class="hidden">0</progress>
					</div>
					<script src="@routes.Assets.at("javascripts/upload.js")" type="text/javascript"></script>
				</form>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="content">

			<div class="page-header">
				<h3>@title</h3>
				
				</div>

			<div class="row">
				<div class="span12">@content</div>
			</div>

		</div>

		<footer>
			<p>
				<a href="http://www.playframework.org">www.playframework.org</a>
			</p>
		</footer>

	</div>

</body>
</html>
