@(jsFile: String, 
	breadCrumbs: List[(String, String)], 
	search: Option[String],
	additionalTitle: Option[String]
)(content: Html)

<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/markdown.css")">
  <link rel="stylesheet" href="@routes.Assets.at("cal-heatmap/cal-heatmap.css")">
  <link rel="stylesheet" href="@routes.Assets.at("lib/highlightjs/styles/github.css")">
  <script data-main="@routes.Assets.versioned(jsFile)" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

  <link rel="icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon" />
  <!-- trashcan image by Christopher Lee, from The Noun Project -->
  <!-- Delete by Julian Norton from The Noun Project -->
  <!-- Box by Michael Rowe from The Noun Project -->
  <!-- Wrench by Nathan Borror from the Noun Project -->
  <title>@{additionalTitle.map(_ + " - dmpster").getOrElse("dmpster")}</title>
</head>
<body id="holder">

<header>
  <h1>
    <a href="@routes.Application.index">dmpster<sup>beta</sup></a>

    <img src="@routes.Assets.at("images/trashcan-top.svg")">
    <img src="@routes.Assets.at("images/trashcan-bottom.svg")">
  </h1>
  <span class="header-label">drop DMP here to upload</span>
  @views.html.menu(breadCrumbs, search)
</header>
@content
</body>
</html>

