@(content: Html)

<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")">
  <script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
  
  <link rel="icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon" />
  <!-- trashcan image by Christopher Lee, from The Noun Project -->
  <!-- Delete by Julian Norton from The Noun Project -->
  <!-- Box by Michael Rowe from The Noun Project -->
  <title>dmpster</title>
</head>
<body id="holder">

<header>
  <h1>
    <a href="@routes.Application.index">dmpster<sup>beta</sup></a>
    
    <img src="@routes.Assets.at("images/trashcan-top.svg")">
    <img src="@routes.Assets.at("images/trashcan-bottom.svg")">
  </h1>
  <span>drop DMP here to upload</span>
</header>
<body>
@content
<a class="bottom-link" href="@routes.Admin.index">Administration area</a>
</html>
