@* menu Template File *@
@(breadCrumbs: List[(String, String)], search: Option[String])
<div class="menu">
  &nbsp;
  <a href="@routes.Application.index" class="logo">dmpster</a>
  @breadCrumbs.map { case (caption, url) =>
    &nbsp;&raquo;&nbsp;
    <a href="@url" class="breadcrumb">@caption</a>
  }
  <span class="menu-right">
    @*
    <form id="search-form">
      <input type="text" id="search" value="@{search.getOrElse("")}"></input>
    </form>
    *@
    <a class="admin-link" href="@routes.Admin.index">Administration area</a>
  </span>
</div>
