@* menu Template File *@
@(search: Option[String])
<div class="menu original">&nbsp;
  <span class="menu-right">
    @*
    <form>
      <input type="text" id="search" value="@{search.getOrElse("")}"></input>
    </form>
    *@
    <a class="admin-link" href="@routes.Admin.index">Administration area</a>
  </span>
</div>
<div class="menu cloned" style="display:none">
 <a href="@routes.Application.index" class="logo">dmpster</a>
  <span class="menu-right">
    @*
    <form>
      <input type="text" id="search" value="@{search.getOrElse("")}"></input>
    </form>
    *@
    <a class="admin-link" href="@routes.Admin.index">Administration area</a>
  </span>
</div>
