@(bucket: Bucket, dumps: List[Dump], allTags: Seq[Tag]) 

@main {

  <datalist class="hidden" id="tags">
    @allTags.map{ t => 
      <option>@t.name</option>
    }
  </datalist>

  <div id="content"></div>
  <script type="text/jsx" src="@routes.Assets.at("javascripts/bucket.js")"></script>
  <script type="text/jsx" src="@routes.Assets.at("javascripts/viewBucket.js")"></script>
  <script type="text/jsx">
  /** @@jsx React.DOM */
  React.renderComponent(
      <ViewBucket url="/dmpster/bucket/@bucket.id/Json" pollInterval={2000}/>,
      document.getElementById('content')
    );
  </script>
  
}
